body {
  background: rgb(245, 245, 245);
  color: #121212;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background: #111;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

main {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}